<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.cqs.logcat">
    <application>
        <provider
            android:name=".LogcatFileProvider"
            android:authorities="${applicationId}.logcat_provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logcat_paths" />
        </provider>
        <!--日志详情-->
        <activity android:name=".LogcatDetailActivity"
            android:label="Logcat Detail"
            android:theme="@style/Theme.AppCompat"/>
    </application>
</manifest>
